@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #09161f;
    font-family: 'Karla', sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(185, 185, 185);
    font-size: larger;
    display: flex;
    flex-direction: row;
}

img {
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.form-container {
    width:100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-container {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    width: 35rem;
    align-self: center;
    text-align: left;
}

form {
    background-color: #0e2230;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
}

.form-title{
    width: 100%;
    font-size: larger;
    font-weight: 500;
    text-align: center;
    align-self: center;
}

input {
    background-color: #09161f;
    border: 1px solid #09161f;
    width: 40rem;
    align-self: center;
}

input:focus {
    background-color: #09161f;
    border: 1px solid #193d57;
}

button {
    margin:2rem;
    width: 25%;
    background-color: #c14735;
    font-family: 'Karla', sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:rgb(185, 185, 185);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px 40px;
    align-self: center;
}

.login {
    padding-left: 2rem;
    padding-bottom: 4rem;
    width: 35rem;
    align-self: center;
    text-align: center;
}

a{
    text-decoration: none;
    color:  #c14735;
    font-weight: 700;
}

a:hover{
    color:  #c14735;
}